<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/styles/index.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>Vignesh Kanna ToDos</title>
  </head>
  <body>
    {% csrf_token %}
    <div class="header">
      <h1>Todo List 📑</h1>
    </div>
    <div class="sticky_add_btn">
      <form action="/add_todo" method="get">
        <button type="submit" id="add_todo_btn">
          <span class="material-icons"> add </span>
        </button>
      </form>
    </div>
    <div class="container todo_lists">
      {% for todo in todo_list %}
      <div class="todo_list">
        <div class="todo_delete_btns">
          {% csrf_token %}
          <button id="todo_delete_btn" class="todo_delete_btn" todo-id="{{todo.id}}">
            <span class="material-icons"> backspace </span>
          </button>
        </div>
        <ul>
          <li><p class="todo_title">{{todo.title}}</p></li>
          <li class="detail">{{todo.detail}}</li>
          <li>
            <span>Completion:</span>
            {% if todo.isCompleted %}
            <span>Done</span>
            {% else %}
            <span>Not Done</span>
            {% endif %}
          </li>
        </ul>
      </div>
      {% endfor %}
    </div>

    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(".todo_delete_btn").click(function () {
        const todoId = $(this).attr("todo-id");
        $.ajax({
          url: "/delete_todo/",
          data: {
            todo_id: todoId,
          },
          type: "post",
          cache: false,
          success: function () {
            location.reload(true);
          },
        });
      });
    </script>
    {% endblock javascript %}
  </body>
</html>
